<!DOCTYPE html>
<html>
	<head>
		<title>Notes</title>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
		<link rel = "stylesheet" href = "styles.css" type = "text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body ng-app = "NotesAPI">
		<ng-view>
			
		</ng-view>
	</body>
	<script src = "app.js"></script>
	<script src = "loginCtrl.js"></script>
	<script src = "mainCtrl.js"></script>
	<script src = "newNoteCtrl.js"></script>
	<script src = "searchCtrl.js"></script>
	<script src = "showNoteCtrl.js"></script>
	<script src = "editNoteCtrl.js"></script>
	<script src = "allNotesCtrl.js"></script>
</html>
